<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <%- include('partials/head', { title: "Class Code" }); %>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.9/dist/clipboard.min.js"></script>
</head>
<body>
    <% let basda_code = "VKN6-T5PW-W6SW8" %> 
    <% let ppl_code = "RNB5-XZ3X-VWP7X" %> 
    <% let pbo_code = "Q4DC-6KMT-MJT6Z" %> 
    <% let bing_code = "N9CP-PR7M-ZWCN5" %> 
    <% let pai_code = "SNRD-C7Q9-5452B" %> 

    <% let mat_code = "qn6rotb" %> 
    <% let bing_google_code = "ul6jirp" %> 



    <div class="container">
        <%- include('./partials/navbar.ejs') %>

        <div class="section">
            <div class="box">
                <h1 class="title">
                    Class Code
                </h1>
            </div>

            <div class="classcode">
                <div class="card">
                    <div class="card-content">
                        <h1 class="title">Google Classroom</h1>

                        <div class="google-code">
                            <div class="field has-addons">
                                <div class="control">
                                    <label for="" class="label">
                                        MAT
                                    </label>
                                    <input type="text" class="custom-input" placeholder="<%= mat_code %>" readonly>
                                    <button class="copy-button call-to-action call-to-action-primary" data-clipboard-text="<%- mat_code %>">
                                        <span class="is-icon">
                                            <i class="fas fa-clipboard fa-lg"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="google-code">
                            <div class="field has-addons">
                                <div class="control">
                                    <label for="" class="label">
                                        BING
                                    </label>
                                    <input type="text" class="custom-input" placeholder="<%= bing_google_code %>" readonly>
                                    <button class="copy-button call-to-action call-to-action-primary" data-clipboard-text="<%- bing_google_code %>">
                                        <span class="is-icon">
                                            <i class="fas fa-clipboard fa-lg"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="google-code">
                            <div class="field has-addons">
                                <div class="control">
                                    <label for="" class="label">
                                        PKK
                                    </label>
                                    <a href="https://classroom.google.com/c/Mzg0MDA5ODMzODQz?cjc=cntwtvz">
                                        Link disini
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="google-code">
                            <div class="field has-addons">
                                <div class="control">
                                    <label for="" class="label">
                                        PKN
                                    </label>
                                    <a href="https://classroom.google.com/c/Mzg2ODc0MDk5ODU2?cjc=253cfwt">
                                        Link disini
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="google-code">
                            <div class="field has-addons">
                                <div class="control">
                                    <label for="" class="label">
                                        PWPB
                                    </label>
                                    <a href="https://classroom.google.com/c/MzcyOTI5ODY2ODg3/a/Mzc0OTg1MTQyMjY4/details">
                                        Link disini
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="google-code">
                            <div class="field has-addons">
                                <div class="control">
                                    <label for="" class="label">
                                        BINDO
                                    </label>
                                    <a href="https://classroom.google.com/c/MTE4MjQ0NDI1MDg5?cjc=aie3qha">
                                        Link disini
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h1 class="title">
                            Schoology
                        </h1>

                        <div class="schoology-code">
                            <div class="field has-addons">
                                <div class="control">
                                    <label for="" class="label">
                                        BASDA
                                    </label>
                                    <input type="text" class="custom-input" placeholder="<%= basda_code %>" readonly>
                                    <button class="copy-button call-to-action call-to-action-primary" data-clipboard-text="<%- basda_code %>">
                                        <span class="is-icon">
                                            <i class="fas fa-clipboard fa-lg"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="schoology-code">
                            <div class="field has-addons">
                                <div class="control">
                                    <label for="" class="label">
                                        PPL
                                    </label>
                                    <input type="text" class="custom-input" placeholder="<%= ppl_code %>" readonly>
                                    <button class="copy-button call-to-action call-to-action-primary" data-clipboard-text="<%- ppl_code %>">
                                        <span class="is-icon">
                                            <i class="fas fa-clipboard fa-lg"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="schoology-code">
                            <div class="field has-addons">
                                <div class="control">
                                    <label for="" class="label">
                                        PBO
                                    </label>
                                    <input type="text" class="custom-input" placeholder="<%= pbo_code %>" readonly>
                                    <button class="copy-button call-to-action call-to-action-primary" data-clipboard-text="<%- pbo_code %>">
                                        <span class="is-icon">
                                            <i class="fas fa-clipboard fa-lg"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="schoology-code">
                            <div class="field has-addons">
                                <div class="control">
                                    <label for="" class="label">
                                        BING
                                    </label>
                                    <input type="text" class="custom-input" placeholder="<%= bing_code %>" readonly>
                                    <button class="copy-button call-to-action call-to-action-primary" data-clipboard-text="<%- bing_code %>">
                                        <span class="is-icon">
                                            <i class="fas fa-clipboard fa-lg"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="schoology-code">
                            <div class="field has-addons">
                                <div class="control">
                                    <label for="" class="label">
                                        PAI
                                    </label>
                                    <input type="text" class="custom-input" placeholder="<%= pai_code %>" readonly>
                                    <button class="copy-button call-to-action call-to-action-primary" data-clipboard-text="<%- pai_code %>">
                                        <span class="is-icon">
                                            <i class="fas fa-clipboard fa-lg"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        new ClipboardJS(".copy-button");
    </script>

</body>
</html>