<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: "Class Code" }); %>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.9/dist/clipboard.min.js"></script>
</head>
<body>
    <% let basda_code = "VKN6-T5PW-W6SW8" %> 
    <% let ppl_code = "RNB5-XZ3X-VWP7X" %> 
    <% let pbo_code = "Q4DC-6KMT-MJT6Z" %> 
    <% let bing_code = "N9CP-PR7M-ZWCN5" %> 
    <% let pai_code = "SNRD-C7Q9-5452B" %> 

    <% let mat_code = "qn6rotb" %> 
    <% let bing_google_code = "ul6jirp" %> 



    <div class="container">
        <%- include('./partials/navbar.ejs') %>

        <div class="section">
            <div class="box">
                <h1 class="title">
                    Class Code
                </h1>
            </div>

            <div class="classcode">
                <div class="card">
                    <div class="card-content">
                        <h1 class="title">Google Classroom</h1>

                        <div class="mat google-code">
                            <div class="field has-addons">
                                <label class="label">MAT</label>
                                <div class="control">
                                    <input id="basda" class="input is-static" type="text" placeholder="<%= mat_code %>" readonly>
                                </div>
                                <div class="control">
                                    <a class="button btn" data-clipboard-text="<%= mat_code %>">Copy</a>
                                </div>
                            </div>
                        </div>
                        <div class="bing google-code">
                            <div class="field has-addons">
                                <label class="label">BING</label>
                                <div class="control">
                                    <input id="basda" class="input is-static" type="text" placeholder="<%= bing_google_code %>" readonly>
                                </div>
                                <div class="control">
                                    <a class="button btn" data-clipboard-text="<%= bing_google_code %>">Copy</a>
                                </div>
                            </div>
                        </div>
                        <div class="google-code">
                            <label class="label">PKK</label>
                            <p class="subtitle">
                                <a href="https://classroom.google.com/c/Mzg0MDA5ODMzODQz?cjc=cntwtvz">Link</a>
                            </p>
                        </div>
                        <div class="google-code">
                            <label class="label">PKN</label>
                            <p class="subtitle">
                                <a href="https://classroom.google.com/c/Mzg2ODc0MDk5ODU2?cjc=253cfwt">Link</a>
                            </p>
                        </div>
                        <div class="google-code">
                            <label class="label">PWPB</label>
                            <p class="subtitle">
                                <a href="https://classroom.google.com/c/MzcyOTI5ODY2ODg3/a/Mzc0OTg1MTQyMjY4/details">Link</a>
                            </p>
                        </div>
                        <div class="google-code">
                            <label class="label">BINDO</label>
                            <p class="subtitle">
                                <a href="https://classroom.google.com/c/MTE4MjQ0NDI1MDg5?cjc=aie3qha">Link</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h1 class="title">
                            Schoology
                        </h1>
                        <div class="basda schoology-code">
                            <div class="field has-addons">
                                <label class="label">MAT</label>
                                <div class="control">
                                    <input id="basda" class="input is-static" type="text" placeholder="<%= basda_code %>" readonly>
                                </div>
                                <div class="control">
                                    <a class="button btn" data-clipboard-text="<%= basda_code %>">Copy</a>
                                </div>
                            </div>
                        </div>
                        <div class="ppl schoology-code">
                            <div class="field has-addons">
                                <label class="label">PPL</label>
                                <div class="control">
                                    <input id="basda" class="input is-static" type="text" placeholder="<%= ppl_code %>" readonly>
                                </div>
                                <div class="control">
                                    <a class="button btn" data-clipboard-text="<%= ppl_code %>">Copy</a>
                                </div>
                            </div>
                        </div>
                        <div class="pbo schoology-code">
                            <div class="field has-addons">
                                <label class="label">PBO</label>
                                <div class="control">
                                    <input id="basda" class="input is-static" type="text" placeholder="<%= pbo_code %>" readonly>
                                </div>
                                <div class="control">
                                    <a class="button btn" data-clipboard-text="<%= pbo_code %>">Copy</a>
                                </div>
                            </div>
                        </div>

                        <div class="bing schoology-code">
                            <div class="field has-addons">
                                <label class="label">BING</label>
                                <div class="control">
                                    <input id="basda" class="input is-static" type="text" placeholder="<%= bing_code %>" readonly>
                                </div>
                                <div class="control">
                                    <a class="button btn" data-clipboard-text="<%= bing_code %>">Copy</a>
                                </div>
                            </div>
                        </div>

                        <div class="pai schoology-code">
                            <div class="field has-addons">
                                <label class="label">PAI</label>
                                <div class="control">
                                    <input id="basda" class="input is-static" type="text" placeholder="<%= pai_code %>" readonly>
                                </div>
                                <div class="control">
                                    <a class="button btn" data-clipboard-text="<%= pai_code %>">Copy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        new ClipboardJS('.btn');
    </script>

</body>
</html>