<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: "Contributors" }); %>
</head>
<body>
    <div class="container">
        <%- include('./partials/navbar.ejs') %>

        <div class="section">
            <div class="box">
                <h1 class="title">
                    Contributors
                </h1>
            </div>

            <!-- <hr class="seperator"> -->

            <div class="contributors">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-1">
                                <figure class="image">
                                    <img src="/Image/Profile Photo/Rizky_Profile_Photo.png" alt="">
                                </figure>
                            </div>
                            <div class="column is-10">
                                <h1 class="title">
                                    Rizky Irswanda
                                </h1>
                                <p class="subtitle">
                                    Hello! My name is Rizky Irswanda, you can call me Rizky. I'm currently a second-grade student of a Vocational High School with a major in Software Engineer. 
                                    I have an interest in game development especially using the Unity Game Engine.
                                </p>
                                <p class="subtitle socials">
                                    <%  rizky_socials_link = ["https://www.instagram.com/not_irswanda/", "mailto: rizky.irswanda115@gmail.com", "https://github.com/NotHydra"]  %> 
                                    <%  rizky_socials_icon = ["instagram", "google", "github"] %> 
            
                                    <% rizky_socials_link.forEach((element, index) => { %>
                                        <a href="<%= element %>">
                                            <span class="is-icon">
                                                <i class="fab fa-<%= rizky_socials_icon[index] %> fa-lg"></i>
                                            </span>
                                        </a>
                                    <% }); %>
                                </p>
                            </div>
                        </div>  
                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-1">
                                <figure class="image">
                                    <img src="/Image/Profile Photo/Farhan_Profile_Photo.png" alt="">
                                </figure>
                            </div>
                            <div class="column is-10">
                                <h1 class="title">
                                    Muhammad Farhan
                                </h1>
                                <p class="subtitle">
                                    Name's Muhammad Farhan, usually called Farhan. A weeb that is also a game enthusiast, I don't really like to work but I'll do my best when needed. 
                                    A fledgeling programmer that has too much in-door activities, also I'm Irswanda's classmate.
                                </p>
                                <p class="subtitle socials">
                                    <%  farhan_socials_link = ["mailto: farhanmuhammad25420@gmail.com", "https://github.com/sorystia1"]  %> 
                                    <%  farhan_socials_icon = ["google", "github"] %> 
            
                                    <% farhan_socials_link.forEach((element, index) => { %>
                                        <a href="<%= element %>">
                                            <span class="is-icon">
                                                <i class="fab fa-<%= farhan_socials_icon[index] %> fa-lg"></i>
                                            </span>
                                        </a>
                                    <% }); %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-1">
                                <figure class="image">
                                    <img src="/Image/Profile Photo/Dio_Profile_Photo.jpg" alt="">
                                </figure>
                            </div>
                            <div class="column is-10">
                                <h1 class="title">
                                    Yehezkiel Dio
                                </h1>
                                <p class="subtitle">
                                    I'm Yehezkiel Dio, an Indonesian-based web developer with over two years of experience. 
                                    I specialize in full-stack development and interface design. Currently, a vocational software engineering student. I go by the name Liz on the internet.
                                </p>
                                <p class="subtitle socials">
                                    <%  dio_socials_link = ["https://www.instagram.com/yhezkiel.dio/", "https://discord.com/users/327849142774923266", "https://github.com/yehezkieldio"]  %> 
                                    <%  dio_socials_icon = ["instagram", "discord", "github"] %> 
    
                                    <% dio_socials_link.forEach((element, index) => { %>
                                        <a href="<%= element %>">
                                            <span class="is-icon">
                                                <i class="fab fa-<%= dio_socials_icon[index] %> fa-lg"></i>
                                            </span>
                                        </a>
                                    <% }); %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>