<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    
    <body>
        <div class="operator_content_container">
            <div class="operator_content_item_container">
                <!-- Info -->
                <div class="operator_content_item">
                    <div>Current Week  : <%= list_of_assignment_range_data.weekly.length%> </div>
                    <div>Current Month : <%= list_of_assignment_range_data.monthly.length%> </div>
                    <div>Latest Changes : <%= operator_history_data.changes[operator_history_data.changes.length-1]%> </div>
                    <div>Latest Reports : <%= operator_history_data.reports[operator_history_data.reports.length-1]%> </div>
        
                </div>
    
                <!-- Assignment -->
                <form class="operator_content_item" action="/operator_assignment" method="POST">
                    <div class="operator_content_option_box">
                        <label for="lesson_name">Assignment Name : </label>
                        <select name="lesson_name" id="lesson_name" required> 
                            <option value="" disabled selected hidden>Name</option>
    
                            <% let list_of_lesson_name = ["MAT", "PPL", "PBO", "PAI", "PKN", "PWPB", "BINDO", "BASDA", "BING", "PKK", "PJOK"] %>
                            <% for(let i = 0; i < list_of_lesson_name.length; i++) {%>
                                <option value="<%= list_of_lesson_name[i] %>"><%= list_of_lesson_name[i] %></option>
                            <% } %>  
                            
                        </select>
    
                    </div>

                    <div>
                        <button type="submit" name="operator_assignment_action" value="add">Add Assignment</button>
                        <button type="submit" name="operator_assignment_action" value="delete">Delete Assignment</button>
                    </div>
    
                </form>
    
                <!-- Week -->
                <form class="operator_content_item" action="/operator_week" method="POST">
                    <div>
                        <button type="submit" name="operator_week_action" value="add">Add Week</button>
                        <button type="submit" name="operator_week_action" value="delete">Delete Week</button>
                    </div>  
                </form>

                <!-- Month -->
                <form class="operator_content_item" action="/operator_month" method="POST">
                    <div>
                        <button type="submit" name="operator_month_action" value="add">Add Month</button>
                        <button type="submit" name="operator_month_action" value="delete">Delete Month</button>
                    </div>
                </form>
    
                <!-- Reports -->
                <form class="operator_content_item" action="/check_report" method="POST">
                    <div class="operator_content_option_box">
                        <% let list_of_student_name = [] %>
                        <% for(let i = 0; i < list_of_student_data.length; i++) {%>
                            <% list_of_student_name.push(list_of_student_data[i].student_name) %>
                        <% } %>
    
                        <% let list_of_assignment_name = [] %>
                        <% for(let i = 0; i < list_of_assignment_data.length; i++) {%>
                            <% list_of_assignment_name.push(String(list_of_assignment_data[i].assignment_lesson_name) + String(list_of_assignment_data[i].assignment_lesson_count)) %>
                        <% } %>
    
                        <label for="student_name">Student Name : </label>
                        <select name="student_name" id="student_name" required> 
                            <option value="" disabled selected hidden>Name</option>
    
                            <% for(let i = 0; i < list_of_student_name.length; i++) {%>
                                <option value="<%= i %>"><%= list_of_student_name[i] %></option>
                            <% } %>
                                            
                        </select>
    
                        <label for="assignment_name">Assignment Name : </label>
                        <select name="assignment_name" id="assignment_name" required> 
                            <option value="" disabled selected hidden>Name</option>
    
                            <% let k = 0 %>
                            <% for(let i = 0; i < list_of_assignment_range_data.weekly.length; i++) {%>
                                <optgroup label="Minggu <%= i+1 %>">
                                    <% if(i == 0) {%>
                                        <% for(let j = 0; j < list_of_assignment_range_data.weekly[i]; j++) {%>
                                            <option value="<%= k %>" ><%= list_of_assignment_name[k] %></option>
    
                                            <% k += 1 %>
                                        <% } %>
                                    <% } %>
    
                                    <% if(i != 0) {%>
                                        <% for(let j = list_of_assignment_range_data.weekly[i-1]; j < list_of_assignment_range_data.weekly[i-1] + list_of_assignment_range_data.weekly[i]; j++) {%>
                                            <option value="<%= k %>" ><%= list_of_assignment_name[k] %></option>
            
                                            <% k += 1 %>
                                        <% } %>
                                    <% } %>
                                    
                                </optgroup>
                            <% } %>
                                            
                        </select>
    
                    </div>
                    
                    <button type="submit" name="report_action" value="check">Check Report</button>
                    <button type="submit" name="report_action" value="uncheck">Uncheck Report</button>
    
                </form>
                
                <!-- Log Out -->
                <form class="operator_content_item" action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Log Out</button>
    
                </form>

            </div>

        </div>  

    </body> 

</html>
