<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: "Operator" }); %>

</head>
<body>
    <div class="container">
        <%- include('./partials/navbar.ejs') %>

        <div class="section">
            <div class="box">
                <h1 class="title">
                    Operator
                </h1>
            </div>

            <div class="operator">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            Current Week: <%= list_of_assignment_range_data.weekly.length%>
                            <br>
                            Current Month: <%= list_of_assignment_range_data.monthly.length%>
                            <br>
                            <br>
                            Latest Changes: <%= operator_history_data.changes[operator_history_data.changes.length-1]%>
                            <br>
                            Latest Reports: <%= operator_history_data.reports[operator_history_data.reports.length-1]%>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <form action="/operator_assignment"method="post" autocomplete="off">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Assignment Name</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control">
                                            <select name="lesson_name" id="lesson_name" class="select" required> 
                                                <option value="" disabled selected hidden>Name</option>
                        
                                                <% let list_of_lesson_name = ["MAT", "PPL", "PBO", "PAI", "PKN", "PWPB", "BINDO", "BASDA", "BING", "PKK", "PJOK"] %>
                                                <% for(let i = 0; i < list_of_lesson_name.length; i++) {%>
                                                    <option value="<%= list_of_lesson_name[i] %>"><%= list_of_lesson_name[i] %></option>
                                                <% } %>  
                                                
                                            </select>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button class="call-to-action call-to-action-primary" type="submit" name="operator_assignment_action" value="add">Add Assignment</button>
                            <button class="call-to-action call-to-action-primary" type="submit" name="operator_assignment_action" value="delete">Delete Assignment</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <form action="/operator_week" method="POST">
                            <button class="call-to-action call-to-action-primary" type="submit" name="operator_week_action" value="add">Add Week</button>
                            <button class="call-to-action call-to-action-primary" type="submit" name="operator_week_action" value="delete">Delete Week</button>
                        </form>
                       
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <form action="/operator_month" method="POST">
                            <button class="call-to-action call-to-action-primary" type="submit" name="operator_month_action" value="add">Add Month</button>
                            <button class="call-to-action call-to-action-primary" type="submit" name="operator_month_action" value="delete">Delete Month</button>
                        </form>
                    </div>
                </div>

                <div class="card assignment">
                    <div class="card-content">
                        <form action="/check_report" method="post" autocomplete="off">
                            <% let list_of_student_name = [] %>
                            <% for(let i = 0; i < list_of_student_data.length; i++) {%>
                                <% list_of_student_name.push(list_of_student_data[i].student_name) %>
                            <% } %>
        
                            <% let list_of_assignment_name = [] %>
                            <% for(let i = 0; i < list_of_assignment_data.length; i++) {%>
                                <% list_of_assignment_name.push(String(list_of_assignment_data[i].assignment_lesson_name) + String(list_of_assignment_data[i].assignment_lesson_count)) %>
                            <% } %>

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Student Name</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control">
                                            <select name="student_name" id="student_name" class="select" required> 
                                                <option value="" disabled selected hidden>Name</option>
                        
                                                <% for(let i = 0; i < list_of_student_name.length; i++) {%>
                                                    <option value="<%= i %>"><%= list_of_student_name[i] %></option>
                                                <% } %>
                                            </select>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Assignment Name</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control">
                                            <select name="assignment_name" id="assignment_name" class="select" required> 
                                                <option value="" disabled selected hidden>Name</option>
                        
                                                <% let k = 0 %>
                                                <% for(let i = 0; i < list_of_assignment_range_data.weekly.length; i++) {%>
                                                    <optgroup label="Minggu <%= i+1 %>">
                                                        <% if(i == 0) {%>
                                                            <% for(let j = 0; j < list_of_assignment_range_data.weekly[i]; j++) {%>
                                                                <option value="<%= k %>" ><%= list_of_assignment_name[k] %></option>
                        
                                                                <% k += 1 %>
                                                            <% } %>
                                                        <% } %>
                        
                                                        <% if(i != 0) {%>
                                                            <% for(let j = list_of_assignment_range_data.weekly[i-1]; j < list_of_assignment_range_data.weekly[i-1] + list_of_assignment_range_data.weekly[i]; j++) {%>
                                                                <option value="<%= k %>" ><%= list_of_assignment_name[k] %></option>
                                
                                                                <% k += 1 %>
                                                            <% } %>
                                                        <% } %>
                                                        
                                                    </optgroup>
                                                <% } %>
                                                                
                                            </select>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <button class="call-to-action call-to-action-primary" type="submit" name="report_action" value="check">Check Report</button>
                            <button class="call-to-action call-to-action-primary" type="submit" name="report_action" value="uncheck">Uncheck Report</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <form action="/logout?_method=DELETE" method="POST">
                            <button class="call-to-action call-to-action-primary" type="submit">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>