<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: "Statistics" }); %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <% let maximum_total_report = 35 * (list_of_student_data[0].student_assignment_done.length) %>

    <% let current_total_report = 0 %>
    <% for(let i = 0; i < list_of_student_data.length; i++) {%>
        <% for(let j = 0; j < list_of_student_data[0].student_assignment_done.length; j++) {%>
            <% if(list_of_student_data[i].student_assignment_done[j] == 'ü' || list_of_student_data[i].student_assignment_done[j] == 'NON-MUS') {%>
                <% current_total_report += 1 %>
            <% } %>
            
        <% } %>
    <% } %>

    <script> let maximum_total_report_for_script = parseInt("<%= maximum_total_report %>") </script>
    <script> let current_total_report_for_script = parseInt("<%= current_total_report %>") </script>

    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Reports', 'Percentage'],
          ['Received', current_total_report_for_script],
          ['Not Received', maximum_total_report_for_script - current_total_report_for_script]
        ]);
        var options = {
          backgroundColor: "transparent",
          fontName: "DM Sans",
          legend: {
            textStyle: {
              color: "white",
            },
            position: 'labeled'
          },
          pieHole: 0.4,
          chartArea: {'width': '90%', 'height': '100%'},
          enableInteractivity: false
        };
        var chart = new google.visualization.PieChart(document.getElementsByClassName('donutchart')[0]);
        chart.draw(data, options);
      }
    </script>

    <script> let total_weekly_assignment_for_script = [['Week', 'Total Assignment'], ] </script>

    <% for(let i = 0; i < list_of_assignment_range_data.weekly.length; i++) {%>
        <% temp_value = list_of_assignment_range_data.weekly[i] %>
        <script>total_weekly_assignment_for_script.push(["Week <%= i+1 %>", parseInt("<%= temp_value %>")]) </script>
            
    <% } %>

    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          total_weekly_assignment_for_script
        );
        var options = {
          backgroundColor: "transparent",
          fontName: "DM Sans",
          legend: {
            textStyle: {
              color: "white",
            },
            position: 'labeled'
          },
          pieHole: 0.4,
          chartArea: {'width': '90%', 'height': '100%'},
          enableInteractivity: false
        };
        var chart = new google.visualization.PieChart(document.getElementsByClassName('donutchart')[1]);
        chart.draw(data, options);
      }
    </script>
    

    <script> let total_monthly_assignment_for_script = [['Month', 'Total Assignment'], ] </script>
    
    <% for(let i = 0; i < list_of_assignment_range_data.monthly.length; i++) {%>
        <% temp_value = list_of_assignment_range_data.monthly[i] %>
        <script>total_monthly_assignment_for_script.push(["Month <%= i+1 %>", parseInt("<%= temp_value %>")]) </script>
            
    <% } %>

    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          total_monthly_assignment_for_script
        );
        var options = {
          backgroundColor: "transparent",
          fontName: "DM Sans",
          legend: {
            textStyle: {
              color: "white",
            },
            position: 'labeled'
          },
          pieHole: 0.4,
          chartArea: {'width': '90%', 'height': '100%'},
          enableInteractivity: false
        };
        var chart = new google.visualization.PieChart(document.getElementsByClassName('donutchart')[2]);
        chart.draw(data, options);
      }
    </script>
</head>
<body>

    <div class="container">
        <%- include('./partials/navbar.ejs') %>


        <div class="section">
            <div class="box">
                <h1 class="title">
                    Statistics
                </h1>
                <p class="subtitle">
                    Karena terbatasan pada browser berbasis mobile/hp silakan liat halaman ini dalam mode desktop.
                </p>

            </div>

            <div class="statistics">
                <div class="card">
                    <div class="card-content">
                        <h1 class="title">
                            Percentage of Reports
                        </h1>
                        <div class="chart-wrapper">
                            <div class="donutchart"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h1 class="title">
                            Percentage of Total Assignments Per Week
                        </h1>
                        <div class="chart-wrapper">
                            <div class="donutchart"></div>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h1 class="title">
                            Percentage of Total Assignments Per Month
                        </h1>
                        <div class="chart-wrapper">
                            <div class="donutchart"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>